<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>smoke,sanity,regression</td><td>TestSearchJobByID.testSearchJob()[pri:0, instance:com.ui.tests.TestSearchJobByID@5965d37]<br/></td></tr>
</table>
