<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90c799">  <td>24/01/17 23:19:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSearchJobByID.setup()[pri:0, instance:com.ui.tests.TestSearchJobByID@5965d37]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@983595261</td>   <td></td> </tr>
<tr bgcolor="90c799">  <td>24/01/17 23:21:06</td>   <td>82961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSearchJobByID.testSearchJob()[pri:0, instance:com.ui.tests.TestSearchJobByID@5965d37]">testSearchJob</td> 
  <td>main@983595261</td>   <td></td> </tr>
</table>
