<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6b7e9c">  <td>24/01/19 00:51:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:com.ui.tests.LoginTest@6cb107fd]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1677207406</td>   <td></td> </tr>
<tr bgcolor="6b7e9c">  <td>24/01/19 00:51:43</td>   <td>8816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.testLogin()[pri:0, instance:com.ui.tests.LoginTest@6cb107fd]">testLogin</td> 
  <td>main@1677207406</td>   <td></td> </tr>
</table>
